/* ------------------------POSTS------------------------- */

@media only screen and (max-width: 1091px) {
    .main-page-container{
        flex-direction: column;
        align-items: center;
        display: flex;
    }

    .main-page-popular-posts-container{
        order: 1;
        width: min(100% - 2rem, 40rem);
        padding: 1rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 15px;
        max-height: 22rem;
        margin-inline: auto;
        margin-bottom: 2rem;

        border: solid;
        border-color: #ff8b8b;
        border-width: 2px;
    }

    .main-page-posts-container{
        order: 2;
    }
}

.main-page-post-item{
    border-radius: 15px;
    padding: 1rem 1rem 0.5rem 1rem; 
    margin-bottom: 2rem;
    width: min(100% - 2rem, 40rem);
    margin-inline: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    word-wrap: break-word;
}

.main-page-posts-container{
    width: min(100% - 1rem, 45rem);
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
}

.main-page-container{
    width: min(100% - 2rem, 70rem);
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: top;
    margin-top: 1rem;
}

.post-title-div{
    font-size: 1.8rem;
    margin-bottom: 0.2rem;
}

.post-author-div{
    color: grey;
    font-size: 1.2rem;
    margin-bottom:1rem;
}

.post-text-div{
    font-size: 1.2rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.post-views-date-div{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.post-views-div{
    font-size: 1rem;
    color: grey;
}

.post-date-div{
    font-size: 1rem;
    width: 20rem;
    text-align: right;
}

.black{
    color: black;
}

.post-category-div{
    margin-bottom: 0.5rem;
    color: #8c00fe;
}

.main-page-head{
    min-height: 5rem;
    padding: 2rem;
    width: min(100% - 2rem, 60rem);
    margin-inline: auto;
    font-size: 1.3rem;
}

.add-post-link{
    color: #0f31ff;
    text-decoration: underline;
}

.main-page-category-select{
    width: min(100% - 2rem, 40rem);
    margin-inline: auto;
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    border-width: 2px;
    margin-bottom: 3rem;
    border-color: #ff8b8b;
    outline: none;
}

.select-text{
    margin-left: 3rem;
    margin-bottom: 0.4rem;
    font-size: 1.2rem;
}

/* ------------------POPULAR POSTS------------------- */

@media only screen and (min-width: 1091px) {
    .main-page-popular-posts-container{
        width: min(100%, 17rem);
        padding: 1rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 15px;
        max-height: 23rem;
        margin-inline: auto;
        margin-bottom: 2rem;
        border: solid;
        border-color: #ff8b8b;
        border-width: 2px;
    }
}

.popular-post-item{
    min-height: 3rem;
    font-size: 1.2rem;
    padding: 0.5rem 0 0.5rem 0;
}

.webkit{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}



.post-item-picture-cropped{
    width: min(100%, 40rem);
    margin-bottom: 0.5rem;
}

.post-item-picture-cropped img {
    width: min(100%, 40rem);
    height: 15rem;
    object-position: 50% 50%;
    border-radius: 15px;
    object-fit: cover;
}

